<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>Iroundu API</title>   
    <meta name="description" content="iroundu">
    <meta name="author" content="eliotliu">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--link href="assets/css/bootstrap-responsive.css" rel="stylesheet"--> 
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="./index.html">Home</a>
              </li>             
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#user"><i class="icon-chevron-right"></i>用户</a></li>
          <li><a href="#follow"><i class="icon-chevron-right"></i>关注</a></li>
          <li><a href="#voice"><i class="icon-chevron-right"></i>录音</a></li>
          <li><a href="#msg"><i class="icon-chevron-right"></i>私信</a></li>
          <li><a href="#feeds"><i class="icon-chevron-right"></i>新鲜事</a></li>
        </ul>
      </div>
      <div class="span9">



        <!-- HTML template
        ================================================== -->
        <section id="user">
          <div class="page-header">
            <h1>4. Basic HTML template</h1>
          </div>
          <p class="lead">With a brief intro into the contents out of the way, we can focus on putting Bootstrap to use. To do that, we'll utilize a basic HTML template that includes everything we mentioned in the <a href="#file-structure">File structure</a>.</p>
          <p>Now, here's a look at a <strong>typical HTML file</strong>:</p>
            <pre class="prettyprint linenums">

            </pre>
          <p><strong>And you're set!</strong> With those two files added, you can begin to develop any site or application with Bootstrap.</p>
        </section>





      </div>
    </div>

  </div>





    <!-- Le javascript
    ================================================== -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
