<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>Iroundu API</title>   
    <meta name="description" content="iroundu">
    <meta name="author" content="eliotliu">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet"> 
    <link href="css/docs.css" rel="stylesheet">
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="/">首页</a>
              </li>             
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#user"><i class="icon-chevron-right"></i>用户</a></li>
          <li><a href="#follow"><i class="icon-chevron-right"></i>关注</a></li>
          <li><a href="#voice"><i class="icon-chevron-right"></i>录音</a></li>
          <li><a href="#message"><i class="icon-chevron-right"></i>私信</a></li>
          <li><a href="#feeds"><i class="icon-chevron-right"></i>新鲜事</a></li>
        </ul>
      </div>
      <div class="span9">

        <section id="user">
          <div class="page-header">
            <h1>用户 API</h1>
          </div>
          <p>
              <strong>登录:</strong>POST /1/users/login <br>
              <strong>参数:</strong><code>email,password</code><br>
              <strong>返回值:</strong><code>{code:code,message:'message'} code=1表示出错，code=0 表示成功 cookie里有登录认证信息（以后同此）</code>
          </p>
          <p>
              <strong>登录:</strong>GET /1/users/logout <br>
              <strong>参数:</strong><code></code><br>
              <strong>返回值:</strong><code>{code:code,message:'message'} code=1表示出错，code=0 表示成功</code>
          </p>
          <p>
              <strong>登录:</strong>POST /1/users/register <br>
              <strong>参数:</strong><code>email,password,username,gender</code><br>
              <strong>返回值:</strong><code>{code:code,message:'message'} code=1表示出错，code=0 表示成功）</code>
          </p>
          <p>
              <strong>登录:</strong>POST /1/users/modifypwd <br>
              <strong>参数:</strong><code>oldPwd,password</code><br>
              <strong>返回值:</strong><code>{code:code,message:'message'} code=1表示出错，code=0 表示成功）</code>
          </p>
          <p>
              <strong>登录:</strong>GET /1/users/avatar/aid(头像图片id) <br>
              <strong>参数:</strong><code></code><br>
              <strong>返回值:</strong><code>图片二进制</code>
          </p>
          <p>
              <strong>登录:</strong>POST /1/users/avatar <br>
              <strong>参数:</strong><code>avatar(文件)</code><br>
              <strong>返回值:</strong><code>{code:code,message:'message'} code=1表示出错，code=0 表示成功）</code>
          </p>
        </section>
        
        
      <!--  <section id="follow">
          <div class="page-header">
            <h1>关注 API</h1>
          </div>
          <p class="lead"></p>
                    
        </section>

        <section id="voice">
          <div class="page-header">
            <h1>录音 API</h1>
          </div>
          <p class="lead"></p>
                   
        </section>

        <section id="message">
          <div class="page-header">
            <h1>私信 API</h1>
          </div>
          <p class="lead"></p>
              
        </section>
        
        <section id="feeds">
          <div class="page-header">
            <h1>新鲜事 API</h1>
          </div>
          <p class="lead"></p>
                 
        </section>-->
        
      </div>
    </div>

  </div>





    <!-- Le javascript
    ================================================== -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>
